@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply min-w-80 bg-surface font-sans text-ink;
}

  #root {
    @apply min-h-svh;
  }
}
